.root {
  --switch-duration: 0.3s;
  --position-duration: 0.5s;
  --switch-animation: var(--switch-duration) cubic-bezier(0.455, 0.03, 0.215, 1.33);
  --position-animation: var(--position-duration) calc(var(--switch-duration) + 200ms) ease-out;

  --button-width: 840px;
  --button-height: calc(var(--button-width) / 2);
  --toggle-diameter: calc(var(--button-height) * 0.9);
  --border-gap: calc((var(--button-height) - var(--toggle-diameter)) / 2);

  @media screen and (max-width: 1024px) {
    --button-width: 620px;
  }

  @media screen and (max-width: 728px) {
    --button-width: 220px;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(100px);
  overflow: hidden;
  background-color: black;
}

.container {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 1400px;
  aspect-ratio: 1920 / 1080;
  z-index: 2201;
  transform: translateY(0) scale(1);
  -webkit-transform: translateY(0) scale(1);
}

.wrap {
  position: relative;
  width: var(--button-width);
  height: var(--button-height);
}

.overlay {
  position: absolute;
  top: var(--border-gap);
  left: calc(50% + var(--border-gap));
  width: var(--toggle-diameter);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  z-index: 100;
  opacity: 0;
  transition: width var(--position-animation), opacity 0s var(--switch-duration);
  will-change: width, opacity, transform;

  &.on {
    opacity: 1;
    width: calc(150vmax + var(--toggle-diameter));
    transform: translate3d(calc((100% - var(--toggle-diameter)) / -2), calc((100% - var(--toggle-diameter)) / -2), 0);
  }
}
