@import 'styles/mixin';

:global {
  body {
    background-color: #09090B;
  }
}

.root {
}

.desktop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100dvh;

  @include respond-to('medium') {
    display: none;
  }
}

.centerWrap {
  position: relative;
}

.sideText {
  display: inline-flex;
  color: white;
  font-size: 20px;
  font-weight: 600;

  svg {
    width: 20px;
    margin: 0 10px;
  }
}

.logo {
  width: 320px;
  height: 140px;

  @include respond-to('medium') {
    width: 160px;
    height: 70px;
  }
}

.ctaSection {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 60px;
  text-align: center;
  transform: translateY(100%);
}

.description {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #FFFFFFCC;
  text-align: center;

  @include respond-to('medium') {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 1.6;
    margin-top: 48px;
  }
}

.button {
  position: relative;
  margin-top: 40px;
  width: 140px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFFCC;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(100, 100, 100, 0.5);
  border-radius: 100px;
  cursor: pointer;
  backdrop-filter: blur(3px);
  z-index: 1;

  &:before, &:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100px;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.30), transparent);
  }
  &:before {
    top: -1px;
  }
  &:after {
    bottom: -1px;
  }
}

.mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh /* fallback for Opera, IE and etc. */;
  height: 100lvh;

  @include respond-to('medium') {
    display: flex;
  }
}

.logoWrap {
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    margin: 0 16px;
  }
  svg {
    width: 24px;
    height: 24px;
  }
}

.info {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .date {
    color: rgba(255, 255, 255);
    font-size: 18px;
  }
  .location {
    margin-top: 16px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 18px;
  }
}
