@import 'styles/mixin';

.root {
  position: relative;
  width: 720px;
  margin: 0 auto;
  padding-bottom: 160px;
  box-sizing: border-box;

  @include respond-to('medium') {
    width: 100%;
    padding: 0 12px 100px 12px;
  }
}

.sponsorList {
  display: flex;
  flex-direction: column;
  padding-top: 12px;

  @include respond-to('medium') {
    padding-top: 0;
  }
}
