:root {
  --feconf-primary-gradient: radial-gradient(63.6% 63.6% at 52.09% 47.78%, #712FFF 0%, rgba(113, 47, 255, 0) 100%), linear-gradient(0deg, #712FFF, #712FFF);
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont,
  'Apple SD Gothic Neo', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  touch-action: pan-y;
}

html, body {
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.FamiljenGrotesk {
  font-family: 'Familjen Grotesk', sans-serif;
}

.fadeInUpSlide {
  opacity: 0;
  transform: translateY(12px);
  transition: opacity cubic-bezier(0.33, 1, 0.68, 1) 600ms, transform cubic-bezier(0.33, 1, 0.68, 1) 800ms;
}

.fadeInRightSlide {
  opacity: 0;
  transform: translateX(-8px);
  transition: opacity cubic-bezier(0.33, 1, 0.68, 1) 600ms, transform cubic-bezier(0.33, 1, 0.68, 1) 600ms;
}

.fadeIn {
  opacity: 0;
  transition: opacity cubic-bezier(0.33, 1, 0.68, 1) 600ms;
}

.delay50 {
  transition-delay: 50ms;
}

.delay100 {
  transition-delay: 100ms;
}

.delay150 {
  transition-delay: 150ms;
}

.delay200 {
  transition-delay: 200ms;
}

.delay250 {
  transition-delay: 250ms;
}

.delay300 {
  transition-delay: 300ms;
}

.delay400 {
  transition-delay: 400ms;
}

.delay500 {
  transition-delay: 500ms;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0ms !important;
    animation-iteration-count: 1 !important;
    animation-delay: 0ms !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
    scroll-behavior: auto !important;
  }
}

