:root {
  --feconf-primary-gradient: radial-gradient(63.6% 63.6% at 52.09% 47.78%, #712FFF 0%, rgba(113, 47, 255, 0) 100%), linear-gradient(0deg, #712FFF, #712FFF);
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont,
  'Apple SD Gothic Neo', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
}

html, body {
  height: 100%;
}

.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0ms !important;
    animation-iteration-count: 1 !important;
    animation-delay: 0ms !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
    scroll-behavior: auto !important;
  }
}
