@import 'styles/mixin';

.root {
  padding: 0 80px;
  margin-top: 48px;

  @include respond-to('medium') {
    padding: 0;
  }
}

.header {
  display: flex;
  align-items: center;
}

.header h2 {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  letter-spacing: 3px;
}

.list {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 12px;
  margin-right: 16px;
}
