.root {
  padding: 0 80px;
}

.header {
  display: flex;
  align-items: center;
}

.header h2 {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  letter-spacing: 3px;
}

.list {
  margin-top: 24px;
}
