.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
  background-color: transparent;
  z-index: 1100;
  pointer-events: none;

  @media screen and (max-width: 768px) {
    padding: 0 24px;
  }
}

.logo {
  pointer-events: all;
}
