@import 'styles/mixin';

.root {
  position: relative;
  width: 720px;
  margin: 0 auto;
  padding-bottom: 160px;

  @include respond-to('medium') {
    width: 100%;
    padding: 0 12px 100px 12px;
  }
}

.list {
  margin: 48px auto 0 auto;
  display: flex;
  width: 540px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include respond-to('medium') {
    margin: 32px auto 0 auto;
    width: 100%;
  }
}

.image {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 12px;
  margin-right: 12px;
  box-sizing: content-box;
  margin-top: 16px;
}
